html {
    margin:0;
    padding:0;
    background: url(../Image/back.png) no-repeat center fixed;
    background-size: cover;
    }
.reseau {
    text-decoration: underline #ffffff;
    color:white;
    }

ul {
    color: white;
 }