html {
    margin:0;
    padding:0;
    background: url(../Image/back.png) no-repeat center fixed;
    background-size: cover;
    }

.titre {
   text-decoration: underline #716868;
    color:white;
    text-align: center;
    }
