html {
    margin:0;
    padding:0;
    background: url(../img/back.png) no-repeat center fixed;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    }

.titre {
    text-decoration: underline #716868;
    color:white;
    text-align: center;
    }

.video {
    text-align: center;
    }

.Tips1 {
    text-align: center;
    color:white;
    }

.Tips2 {
    text-align: center;
    color:white;
    }
  
.Tips3 {
    text-align: center;
    color:white;
    }
    