html {
    margin:0;
    padding:0;
    background: url(../assets/img/back.png) no-repeat center fixed;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    }

.vid1 {
    text-align: center;
}