html {
    margin:0;
    padding:0;
    background-color: gray;
    font-family:Arial, Helvetica, sans-serif;
    }

.titre {
    text-decoration: underline #716868;
    color:white;
    text-align: center;
    }

.avion {
    text-decoration: underline #716868;
    color: white;
    } 
    
.char {
    text-decoration: underline #716868;
    color: white;
    }

.imgg {
    text-align: center;
    }

.img {
    text-align: center;
    }

ul {
    color: white;
    }